<div class="github-card user-card">
  <div class="header"></div>
  <a href="{{user.html_url}}" target="_blank" class="avatar">
    <img [src]="user.avatar_url+'&s=80'" [alt]="user.name">
  </a>
  <div class="content">
    <h1>{{user.name}}</h1>
    <span>{{user.created_at | date}}</span> -
    <span>{{user.location}}
      <i class="fas fa-map-marker"></i>
    </span>
    <div class="alert alert-success">
      <p class="mb-0">{{user.bio}}</p>
    </div>
    <ul class="status">
      <li>
        <a [href]="'https://github.com/'+user.login+'?tab=repositories'">
          <strong>{{user.public_repos}}</strong>
          <i class="fab fa-github"></i>Repos
        </a>
      </li>
      <li>
        <a href="{{user.html_url}}">
          <strong>{{user.public_gists}}</strong>
          <i class="fas fa-book-open"></i>Gists
        </a>
      </li>
      <li>
        <a [href]="'https://github.com/'+user.login+'/followers'">
          <strong>{{user.followers}}</strong>
          <i class="fas fa-users"></i>Followers
        </a>
      </li>
    </ul>
  </div>
</div>